body {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: rgb(228, 228, 228);
}

#brand,
#model,
#modification {
  font-size: 16px;
  width: 100%;
  height: auto;
  border-radius: 3px;
  margin: 0;
  color: rgb(105, 105, 105);
}

.form {
  width: 30%;
  margin-left: 3.3%;
}

#button {
  font-size: 16px;
  background: rgb(29, 29, 29);
  color: white;
  border: 0;
  border-radius: 3px;
  padding: 2px;
  align-self: flex-end;
}

.ads {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  border-top: 1px solid black;
  width: 840px;
  margin: 20px auto;
  background-color: rgb(228, 228, 228);
}

.advert {
  background: white;
  border: 5px solid white;
  width: 21%;
  height: 200px;
  margin: 10px;
}

.advert__img {
  width: 100%;
  height: 140px;
}

.advert__brand {
  margin: 0;
}

.advert__model {
  margin: 0;
}

.advert_modification {
  margin: 0;
}